# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# pagefind indexes are regenerated during build
/public/pagefind/

# test & build
/coverage
/dist/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel

# astro
.astro/
